{% extends "base/base.html" %}
{% block main %}
    
  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      {% for committee in committees %}
      <div class="col-lg-4">
        <img src="{{committee.banner.url}}"  class="bd-placeholder-img rounded-circle" width="140" height="140" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/>
        <h2 class="fw-normal">{{committee.name}}</h2>
        <p>Some representative placeholder content for the three columns of text below the carousel. This is the first column.</p>
        <p><a class="btn btn-secondary" href="{% url 'committees:committee' uuid=committee.uuid %}">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      {% endfor %}
    </div><!-- /.row -->
   


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->

{% endblock main %}

